@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter, system-ui, sans-serif;
    background: rgb(241 245 249);
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
  }

  p {
    font-size: 24px;
  }

  a {
    text-decoration: none;
  }
}